/* styles.css */
body {
    background: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638886301/EducationHub/photos/lightning-bolts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    /* background: #fff; */
    background-color: #9b9195;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

.search input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search button {
    background: #007bff;
    border: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button img {
    width: 20px;
    height: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin: 10px 0;
}

.temp {
    font-size: 2.5rem;
    margin: 10px 0;
    color: #333;
}

.city {
    font-size: 1.5rem;
    margin: 5px 0;
    color: black;
}

.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.col {
    display: flex;
    align-items: center;
}

.col i {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #007bff;
}

.col p {
    margin: 0;
}

.humidity, .wind {
    font-weight: bold;
}

